<aside>
    <div class="widget">
        <h3>Iniciar Sesión</h3>
        <form>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="parssword" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
    </div>
    <div class="widget">
        <h3>Últimas Entradas</h3>
        <ul>
            <li>
                <a href="#">El desarrollo web</a>
            </li>
            <li>
                <a href="#">Cómo hacer un slider en HTML</a>
            </li>
            <li>
                <a href="#">Compo colocar la primera letra en mayúscula</a>
            </li>
            <li>
                <a href="#">¿Que es HTML?</a>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h3>Frase del día</h3>
        <blockquote>
            La mejor manera de un programador escribir buen código es 
            practicando cada día
        </blockquote>
    </div>
</aside>